.img-company{
    text-align: center;
    img{
        width: 40vw;
        border-radius: 50%;
        box-shadow: 1px 1px 5px #ece5e5;
        padding: 4vw;
        margin: 5vw;
    }
}

.content-mission{
    ion-text{

        padding: 0 10vw;
        margin: 5vw 0;
        font-size: 4vw;
        font-style: italic;
        text-align: center;
        overflow:hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

.content-requirements{
    ion-card{
        text-align: center;
        p{
            margin: 0;
        }
    }
}

