<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" color='ion-color-alana' (click)="backPage()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
  
        <ion-title>{{vacancy.title}}</ion-title>
  
        <ion-buttons slot="end">
          <ion-button>
              <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-company">
    <img src="{{vacancy.photoCompany}}">
  </div>
  <div class="content-mission"> 
    <ion-text color="ion-color-medium">
      {{vacancy.mission}}
    </ion-text>
  </div>
  <div class='content-requirements'>
    <ion-card>
      <h3>Requerimientos:</h3>
      <p *ngFor='let requirement of vacancy.requirements'>
          <ion-icon name="checkmark" color="ion-color-success"></ion-icon> {{requirement.name}}
      </p>
    </ion-card>
  </div>


</ion-content>
