.md, .ios{
    form{
       //position: relative;
    }
    ion-item {

        --color:#999;
        display: flex;
        --highlight-background: transparent;
        margin: 3vh 0;

    }

    ion-icon {
        font-size: 25px;
        color: var(--ion-color-alana);
    }

    .btn-forgot{
        font-size: 13px;
        color: #727272;
    }
    ion-checkbox{
        --background-checked: var(--ion-color-alana);	
        --border-color-checked: var(--ion-color-alana);
    }

    .div-buttons{

        ion-button{
            text-transform: none;
            --background: var(--ion-color-alana);
            font-size: 2.5vh;
            margin: 2vh 0;
        }
    
        .btn-register{
            --color : var(--ion-color-alana);
        }
    }

    .p-register{
        color: #727272;

        strong{
            color: var(--ion-color-alana);
        }
    }
}