<ion-content padding>
  <div class="div-head" text-center>
    <img src="../assets/images/logoAlana.png"/>
  </div>
  
  <form [formGroup]="formData" (ngSubmit)="login()">
    
    <ion-item class="item-form" no-lines>
      <ion-label><ion-icon item-start name="md-person" class="input-icon"></ion-icon></ion-label>
      <ion-input type="text" formControlName="email" placeholder="Email" class="form-input"></ion-input>
    </ion-item>
    
    <div *ngIf="formData.get('email').errors && formData.get('email').dirty">
        <p color="danger" class="p-message-error" *ngIf="formData.get('email').hasError('email')">El email no es correcto.</p>
    </div>

    <ion-item class="item-form" no-lines>
      <ion-label><ion-icon item-start name="lock" class="input-icon"></ion-icon></ion-label>
      <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-item  no-lines>
        <ion-label>Recordar Usuario</ion-label>
        <ion-checkbox slot="end" formControlName="onRemember"></ion-checkbox>
    </ion-item>
    
    <!-- <a class="btn-forgot" color="dark"> Olvidé mi contraseña</a> -->
    <div class='div-buttons'>
      <ion-button shape="round" expand="full" type="submit" [disabled]="!formData.valid">Iniciar Sesión</ion-button>
      <ion-button shape="round" expand="full" fill="outline" class="btn-register" color='ion-color-alana'>Registrate</ion-button>
    </div>
  </form>
</ion-content>
