/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.md{
    font-family: "Exo";

    ion-toolbar{
        ion-button{
            color: var(--ion-color-medium);
        }
    }
    
    form{
        height: 100%;
    }

    .form-input {
        border-bottom: none !important;
    }
    
    //CSS Home 
    .div-head{
        img{
            margin-top: 100px;
            margin-bottom: 30px;
            width: 70%;
        }
    }
    
    .item-md {
        color:#999;
    }

    .p-message-error {
        font-size: 13px;
        color: var(--ion-color-danger);
        text-align: center;
        white-space: pre-wrap;
    }

    .label-md[floating] {
        font-family: sans-serif;
        font-size: 14px;
        margin-left: 15px;

    }
    
    .btn-submit{
        text-transform: none;
    }

    ion-grid{
        padding: 0px;
    }

    ion-col{
        padding: 0px;
        text-align: center;
    }

    ion-card{
        border-radius: 1vh;
        margin: 15px 10px;
    }

    .div-content{
        padding: 6px;
    }


    @media only screen and (min-height: 768px) and (min-width: 768px){
        .modal-wrapper {
            --width: 100%;
            --height: 100%;
        }

        
        ion-toolbar{
            --min-height: 10vw;
            
            ion-title{
                font-size: 5vw;
            }
            ion-buttons{
                margin: 0 2vw;
                ion-button{
                    margin: 0 1vw !important;
                    --padding-top: 0 !important;
                    --padding-end: 0 !important;
                    --padding-bottom: 0 !important;
                    --padding-start: 0 !important;
                    font-size: 5vw;
        
                    ion-icon{
                        font-size: 5vw;
                    }
                }
            }
        }
    }
    
}