.md , .ios{

    ion-toolbar{
        ion-title{
            padding: 0;
        }
    }
   

    .fixed-content{
        background-color: #f8f8f8;
    }

    .photo{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        img{
            width: 70%;
        }
    }

    .div-content .content{
        h2{
            font-size: 5vw;
        }
    }

}