<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" color='ion-color-alana' (click)="backHome()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
  
        <ion-title>Vacantes</ion-title>
  
        <ion-buttons slot="end">
          <ion-button>
              <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-content" *ngIf='vacancies.length > 0'>  
    <app-alana-items class='card-vacancies' *ngFor='let vacancy of vacancies' (click)="showDetailsVacancy(vacancy)"  [vacancy]="vacancy">
        <div class="photo">
            <img src="{{vacancy._photo}}">
            <div class="div-shadow"></div>
        </div>
        <div class="content">
            <h2>{{vacancy.jobPositionName}}</h2>
            <p class="p-title">{{vacancy.title}}</p>
            <p class="p-distance"><ion-icon name="pin"></ion-icon> DISTANCIA: <strong> {{vacancy.distance}}</strong></p>
        </div>
    </app-alana-items>
  </div>
</ion-content>
