<ion-header>
  <ion-toolbar>

      <ion-title>Home</ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="div-content" *ngIf='companies.length > 0'>  

      <app-alana-items class='card-companies' *ngFor='let company of companies' (action)="getVacancies(company)" [company]="company">
        <div class="photo">
            <img src="{{company._photo}}">
            <div class="div-shadow"></div>
        </div>
        <div class="content">
            <h2 [ngClass]="{'h2-name' : company.name.length > 19}">{{company._name}}</h2>
            <p class="p-vacancies"><ion-icon name="briefcase"></ion-icon> VACANTES: <strong>{{company._numVacancies}}</strong></p>
            <p class="p-distance"><ion-icon name="pin"></ion-icon> DISTANCIA: <strong>< {{company._distance}}</strong></p>
        </div>
      </app-alana-items>
    </div>

</ion-content>
