.md, .ios{

    .fixed-content{
        background-color: #f8f8f8;
        padding: 10px;
    }

    .col-photo{
        
        img{
            position: relative;
            height: 100%;
        }
    }


    .div-shadow{
        box-shadow: inset 0px 0px 12px -5px black;
        height: 100%;
        position: absolute;
        width: 35%;
        top: 0;
    }


    .div-content .content{
        h2{
            font-size: 5vw;
        }
    }

}

