<ion-card class='card-companies' (click)="action()">

    <div slot="start" class="col-photo">
        <ng-content select=".photo"></ng-content>

    </div>
    <div slot="start" class="col-description">
        <ng-content select=".content"></ng-content>
        
    </div>
    <div slot="end" class='col-icon'>
        <ion-icon name='ios-arrow-forward'></ion-icon>
    </div>

</ion-card>
