ion-card{
    display: flex;
}
.col-photo{  
    border-right: 1px solid #ccc;
    width: 35%;

    img{
        width: 70%;
    }
}


.col-description{

    width: 55%;
    text-align: center;
    font-size: 3vw;
    
    h2{
        font-weight: 600;
        color: #999;
        padding: 20px;
        font-style: italic;
        font-size: 5vw;

        &.h2-name{
            padding: 12px;
        }
    }

    p{
        font-size: 3vh;
        color: #999;
        font-weight: 300;

        @media screen and (min-width:300px) and (max-width:400px){
            padding: 0px 25px;
        }
    }
}

.col-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    border-left: 0.5px solid #ccc;
    margin: 10px 0px;

    ion-icon{
        color: var(--ion-color-alana);
    }

}